<?xml version="1.0" encoding="UTF-8" ?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="rockMusic" class="com.alshv.springcourse.spring_app1_alshv.RockMusic"/>
    <bean id="classicalMusic" class="com.alshv.springcourse.spring_app1_alshv.ClassicalMusic"/>
    <bean id="rapMusic" class="com.alshv.springcourse.spring_app1_alshv.RapMusic"/>

    <bean id="musicPlayer" class="com.alshv.springcourse.spring_app1_alshv.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="rockMusic"/>
                <ref bean="classicalMusic"/>
                <ref bean="rapMusic"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>
